
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body, *{
    padding: 0; 
    margin:0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
    
}

header{
    position: fixed;
    background-color: #0062ff; 
    padding: 10px; 
    width:100%;  
    z-index: 5; 
    text-align: center;
    margin-top:-10px;
    
}

header h1{
    text-transform: uppercase; 
    font-size: 2.4rem; 
    font-weight: bold; 
    border: solid 5px #fff;  
    display:inline; 
    padding: 2px 15px;
    border-radius: 32px; 
    color: #fff;
    
}


.welcome{
    max-width: 100%; 
    width: 1200px; 
  /*  background-color: darkslateblue;*/
    position:relative; 
    margin:10px auto; 
    height: 500px; 
    
}

.welcome img{
    position: absolute; 
    left: 65%; 
    height: 350px;
    top: 26%; 
    border-radius: 50%; 
    background-color: darkgray; 
   /* border-top-right-radius:0 ; 
    border-bottom-right-radius:0 ; */

}

.welcome h2{
    font-size: 2.2rem;
    position: absolute; 
    text-transform: uppercase; 
    left: 3%; 
    top: 35%; 
    color: #333; 

}

.welcome h2 span {
    font-weight: bold; 
    color: #0062ff; 
}

nav{
    position: sticky; 
    top: 75px; 
    margin: 25px auto;
    z-index: 15; 
    background-color: darkgrey; 

}

nav ul{
    display: flex; 
    list-style-type:none; 
    padding: 10px; 
    justify-content: space-evenly; 
    z-index: 15; 
}

nav ul li a{
    text-decoration: none; 
    font-size: 1.5rem; 
    text-transform: lowercase;
    color: #222; 
    font-style:italic;
}

/* main contect style*/

main.main-content{
    width:100%; 
    max-width: 1000px ;
    margin: 75px auto;  

}

section h2{
    margin-bottom:2.5rem;
    margin-top: 2.5rem; 
    font-size: 1.7rem;
    color:blue;

}

section p{
    font-size: 1.4rem; 
    font-family:

}
.images{
    display:flex;
    justify-content: space-evenly; 
}

.images li{
    list-style-type: none; 
    margin-right: 10px;
}
.image img{
    width:100%; 
    border:solid 2px #ddd; 
    height: 500px;
    border-radius: 1rem;
}

div.competences .row{
    display:flex; 
    margin-bottom:20px;

}
div.competence-title{
    display:flex;
    margin-right:200px; 
}

.competence-title img{
    width:32px; 
    height:32px;
    margin-right:10px;
}

div.competence-title h3{
    font-size: 2rem;
    margin-top:-7px;
    color: #444;
}

form{
    border: solid 2px #ddd;
    width:60%; 
    padding:15px; 
    background-color: #0062ff94; 
    border-radius: 1rem; 

}

form input[type='text'], form input[type='email'],  form textarea{
    padding: 8px; 
    font-size: 1.2rem;
   width:100%; 
   border: solid 2px #ddd; 
   margin: 6px 0;
   border-radius: 2rem; 
   

}

form input[type='submit']{
    font-size: 1.4rem;
    font-weight: bold; 
    text-transform: capitalize; 
    border: none;
    background-color:#fff ;
    color:  #0062ff;
    padding: 8px 24px;  
    border-radius: 1rem; 
}

.whatsapp{
    display:flex; 
    justify-content:center; 
    justify-items: center; 
    
}

.whatsapp img.logo{
    height:42px;
    width: 42px;
    margin-right:10px; 
}

.whatsapp span.phone{
    font-size: 35px; 
    font-weight: bold; 
    margin-top:-7px;
}

div.form{
    position: relative; 

}

div.form form{
    position:absolute;
    top: 20%;
    left: 30%; 
}

div.form img{
    height:800px;
    width: 75%; 
}


footer{
    width: 100%; 
    background-color: #0062ffb7;
    color: #fff;
    margin-top:50px; 
}

footer p {
    font-size: 1.2 rem; 
    text-align: center; 
    padding: 10px 0; 
    
}

footer{
    text-decoration: #fff; 
    color:#ddd;
}

footer p a{
    text-decoration: none; 
    color: #b6b6b6; 
    font-weight: bold; 

}

/* on peut utiliser un flex direction pour dire dans quel sens le flex doit aller;*/